Hello! 	let's check linux version :D

	1)AlmaLinux_release: {{ AlmaLinux_release }}

	2)NAME: {{ NAME }}

	3)VERSION: {{ VERSION }}

	4)ID: {{ ID }}

	5)ID_LIKE: {{ ID_LIKE }}

	6)VERSION_ID8: {{ VERSION_ID8 }}

	7)PLATFORM_ID: {{ PLATFORM_ID }}

	8)PRETTY_NAME: {{ PRETTY_NAME }}

	9)ANSI_COLOR: {{ ANSI_COLOR }}

	10)LOGO: {{ LOGO }}

	11)CPE_NAME: {{ CPE_NAME }}
	
	12)HOME_URL: {{ HOME_URL }}

	13)DOCUMENTATION_URL: {{ DOCUMENTATION_URL }}

	14)BUG_REPORT_URL: {{ BUG_REPORT_URL }}

	15)ALMALINUX_MANTISBT_PROJECT: {{ ALMALINUX_MANTISBT_PROJECT }}

	16)ALMALINUX_MANTISBT_PROJECT_VERSION: {{ ALMALINUX_MANTISBT_PROJECT_VERSION }}

	17)REDHAT_SUPPORT_PRODUCT: {{ REDHAT_SUPPORT_PRODUCT }}

	18)REDHAT_SUPPORT_PRODUCT_VERSION: {{ REDHAT_SUPPORT_PRODUCT_VERSION }}

