<html>
    <center><h1>  Hello!  let's check linux version :D </h1>
    </center>
    <table>
 <table>
  <colgroup>
    <col span="2" style="background:Khaki"><!-- С помощью этой конструкции задаем цвет фона для первых двух столбцов таблицы-->
    <col style="background-color:LightCyan"><!-- Задаем цвет фона для следующего (одного) столбца таблицы-->
  </colgroup>
  <tr>
    <th>&#128190;</th>
    <th>details</th>
    <th>info</th>
  </tr>
  <tr>
    <td>1</td>
    <td>AlmaLinux_release</td>
    <td>{{ AlmaLinux_release }}</td>
  </tr>
  <tr>
    <td>2</td>
    <td>NAME</td>
    <td>{{ NAME }}</td>
  </tr>
  <tr>
    <td>3</td>
    <td>VERSION</td>
    <td>{{ VERSION }}</td>
  </tr>
  <tr>
    <td>4</td>
    <td>ID</td>
    <td>{{ ID }}</td>
  </tr>
  <tr>
    <td>5</td>
    <td>ID_LIKE</td>
    <td>{{ ID_LIKE }}</td>
  </tr>
  <tr>
    <td>6</td>
    <td>VERSION_ID8</td>
    <td>{{ VERSION_ID8 }}</td>
  </tr>
  <tr>
    <td>7</td>
    <td>PLATFORM_ID</td>
    <td>{{ PLATFORM_ID }}</td>
  </tr>
  <tr>
    <td>8</td>
    <td>PRETTY_NAME</td>
    <td>{{ PRETTY_NAME }}</td>
  </tr>
  <tr>
    <td>9</td>
    <td>ANSI_COLOR</td>
    <td>{{ ANSI_COLOR }}</td>
  </tr>
  <tr>
    <td>10</td>
    <td>LOGO</td>
    <td>{{ LOGO }}</td>
  </tr>
  <tr>
    <td>11</td>
    <td>CPE_NAME</td>
    <td>{{ CPE_NAME }}</td>
  </tr>
  <tr>
    <td>12</td>
    <td>HOME_URL</td>
    <td>{{ HOME_URL }}</td>
  </tr>
  <tr>
    <td>13</td>
    <td>DOCUMENTATION_URL</td>
    <td>{{ DOCUMENTATION_URL }}</td>
  </tr>
  <tr>
    <td>14</td>
    <td>BUG_REPORT_URL</td>
    <td>{{ BUG_REPORT_URL }}</td>
  </tr>
  <tr>
    <td>15</td>
    <td>ALMALINUX_MANTISBT_PROJECT</td>
    <td>{{ ALMALINUX_MANTISBT_PROJECT }}</td>
  </tr>
  <tr>
    <td>16</td>
    <td>ALMALINUX_MANTISBT_PROJECT_VERSION</td>
    <td>{{ ALMALINUX_MANTISBT_PROJECT_VERSION }}</td>
  </tr>
  <tr>
    <td>17</td>
    <td>REDHAT_SUPPORT_PRODUCT</td>
    <td>{{ REDHAT_SUPPORT_PRODUCT }}</td>
  </tr>
  <tr>
    <td>18</td>
    <td>REDHAT_SUPPORT_PRODUCT_VERSION</td>
    <td>{{ REDHAT_SUPPORT_PRODUCT_VERSION }}</td>
  </tr>
 </table>
</html>
