[Unit]
Description=Node exporter service
Documentation="https://github.com/prometheus/node_exporter"
After=network.target 

[Service]
Type=simple
ExecStart={{ node_exporter_file_location }} 
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=multi-user.target
















